@import "mixins.less";
@import "components/lesson.less";

.hidden {
	display: none!important;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
    .app {
        margin-top: 15%;
        width: 100%;
        text-align: center;
        .schedule-container {	
            display: none;
        }
        .input-search {
            width: 60%;
        }

        .table {
        	width: 100%;
        }
    }
}
