@import "mixins.less";

.hidden {
	display: none!important;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
    .app {
        margin-top: 5%;
        width: 100%;
        text-align: center;
        .schedule-container {
        	
        }
        .input-search {
            width: 60%;
        }

        .table {
        	width: 100%;
        }
    }
}
